@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
    ellipse at right bottom,
    #eeb1bf 5%,
    #d42dab 25%,
    #4d1d63 50%,
    #030243 100%
  );

  font-family: "Montserrat", sans-serif;
}

img,
svg {
  width: 100%;
}
